body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(172, 172, 172);
    color: white;

}

header {
    background-color: #db78b5;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    text-align: end;
    margin-right: 20px;
}


#body {
    display: inline-flex;
    bottom: 20px;
}

article {
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px;
    width: 100%;
    background-color: rgb(46, 216, 159);
    margin-right: 20px;
}

aside {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 50px;
    background-color: rgb(193, 145, 238);
}

aside img {
    width: 250px;
    height: 250px;
    border-radius: 50%;

}

#more {
    margin-top: 20px;
    margin-right: 70px;
    text-align: end;
}

footer{
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

footer #logos {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px 10px;
}

#logos .logo {
    width: 50px;
}
